* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
}

html {
    background-color: #E5E5E5;
}

body {
    max-width: 800px;
    margin: auto;
    width: 414px;
    margin-top: 10vh;
    height: 896px;
    border-radius: 25px;
    padding: 16px;
    background: #B2B2B2;
}

main, p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    overflow: auto;
    color: #48484A;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: relative;
    top: -20px; */
    padding: 8px;
}

nav p {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    flex: 1;
    color: white;
    
}

#time-container {
    font-size: 14px;
    font-weight: 700;
}

.hamburger {
    width: 20px;
    height: 18px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger div {
    background: white;
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.divider {
    background: white;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 8px 0;
}

form {
    display: flex;
    justify-content: space-between;
}

form img {
    margin: auto 4px;
}

#geo-locate {
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
}

form input[type=submit] {
    background: url("./icons/search.svg") no-repeat center center;
    width: 30px;
    height: 30px;
    border: none;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    margin: auto;
}


#search-btn {
    cursor: pointer;
}

#city-input {
    padding: 8px 0;
    font-size: 24px;
    border: none;
    background: none;
    color: #48484A;
    outline: none;
    font-weight: 600;
    letter-spacing: -0.3px;
}

#city-input::placeholder {
    color: #48484A;
    font-weight: 600;
    letter-spacing: -0.3px;
}

#city-input:focus {
    background: none;
}

#current-weather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 130px
}

#current-weather-container h3 {
    margin: auto 0;
    color: white;
    font-size: 40px;
    font-weight: 400;

    /* flex: 1; */
    /* display: inline; */
}

#current-weather-container h2 {
    font-size: 80px;
    font-weight: 400;
    margin: auto 0;
    color: white;
}

#current-weather-container img {
    height: 140px;
    position: relative;
    top: -5%;
}

#sunrise-sunset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px 0 40px;
}

#sunrise-sunset-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sunrise-sunset-container h4 {
    font-size: 16px;
    margin: auto 0 auto 24px;
    color: white;
    /* margin-right: auto; */
}

.forecast-container {

    margin: 0;
}

.forecast-container .line {
    display: flex;
    margin: 0 8px;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
}

.forecast-container .line:not(:last-child) {
    border-bottom: 1px solid #48484A;
}

.line img {
    /* width: auto; */
    height: 150%;
    /* object-position: center; */
    object-fit: cover;
    position: relative;
    top: -25%;
    /* margin-right: 40px; */
    margin-left: auto;
}

.forecast-container p {
    font-size: 20px;
    margin: auto 0;
    /* margin-right: 16px; */
    color: white;
}

.forecast-container .not-today {
    height: 30px;
}

.forecast-container .not-today p,
.forecast-container .not-today img {
    opacity: 80%;
    font-size: 16px;
}

.forecast-temperature {
    text-align: right;
    width: 80px;
}